<ul class="small-block-grid-2 medium-block-grid-4 text-center">
  {{#each model}}
    <li>
      <h3 class="movie-title">{{title}}</h3>

      <div class="movie-poster">
        {{poster poster_path title}}
      </div>

      <strong>Showtimes</strong>

      <p class="movie-showtimes">
        {{#each showtimes}}
          <span class="movie-showtime">{{{this}}}</span>
        {{else}}
          No showtimes
        {{/each}}
      </p>

      <div class="text-center">
        <a class="button radius">Buy Tickets</a>
      </div>
    </li>
  {{else}}
    <li>
      <p>Nothing playing right now.</p>
    </li>
  {{/each}}
</ul>